#festival-content .first-block
{
    height: 90%;
    width: 100%;
    background-size: 100% 150% !important;
    background-repeat: no-repeat;
}

#festival-content h2
{
    display: inline-block;
    font: 24px Oswald,sans-serif;
    color: #3F3F3F;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0;
    margin: 3%;
    width: auto;
}

#festival-content .first-block .infos
{
    color: white;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -100px;
}

#festival-content h1
{
    font-size: 50px;
}

#festival-content .infos span
{
    display: block;
    font-size: 25px;
}

#festival-content .block-leaning
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
}

.block
{
    text-align: center;
    height: 600px;
}

.block-leaning .block-content
{
    transform: skewY(5deg);
    width: 50%;
    margin: auto;
}

.after-block-leaning
{
    margin-top: -10%;
    padding-top: 10%;
}

#festival-content .artists
{
    transform: skewY(0deg);
    background-color: white;
}
