@font-oswald: 'Oswald', sans-serif;

#festival-page
{
    background-color: #f8f8f8;
}

#festival-page .first-block
{
    height: 90%;
    width: 100%;
    background-size: 100% 150% !important;
    background-repeat: no-repeat;
}

#festival-page h2
{
    display: inline-block;
    font: 24px Oswald,sans-serif;
    color: #3F3F3F;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0;
    margin: 3%;
    width: auto;
}

#festival-page .first-block .infos
{
    color: white;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -100px;
}

#festival-page h1
{
    font-size: 50px;
}

#festival-page .infos span
{
    display: block;
    font-size: 25px;
}

#festival-page .block-leaning
{
    background-color: white;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    height: 850px;
    margin-bottom: -10%;
}

.block
{
    text-align: center;
    height: 600px;
}

.block-leaning .block-content
{
    transform: skewY(5deg);
    width: 70%;
    margin: auto;
    position: relative;
}

.after-block-leaning
{
}

#festival-page .artists
{
    transform: skewY(0deg);
    background-color: #F8F8F8;
    height: 875px;
}
#festival-page .artists-block
{
    width: 70%;
    margin: auto;
}

.add-rotate-left
{
    transform: skewY(-5deg);
    transform-origin: top left;
}

#festival-page .artists-block .block
{
    height: 400px;
    width: 24%;
    margin: 1% 0.5%;
    float: left;
    color: #ffffff;
    font: 12px @font-oswald;
    text-align: left;
    border-radius: 3px;
    border: solid #DFDFDF 1px;
    position: relative;
    overflow: hidden;
}

#festival-page .artists-block img
{
    height: 100%;
    width: 100%;
}

#festival-page .artists-block .artist
{
    padding-top: 3%;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20%;
    background: #F8F8F8;
    color: #8F8F8F;
}

#festival-page .artist .info
{
    color: #DFDFDF;
    font-size: 18px;
    margin: 1%;
}

#festival-page .artist .name
{
    font-weight: bold;
    color: #3b3b3b;
    text-transform: uppercase;
}

#festival-page .artist .number-festivals
{
    color: #DFDFDF;
    font-size: 18px;
    margin: 1%;
}

#festival-page .artists-block .button
{
    display: block;
    font: 20px @font-oswald;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0A0A0A;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    margin: 20px 0;
    border: none;
    clear: both;
}

#choose-package .navigation p#choose-summary
{
    height: 40px;
    width: 100%;
    background: rgba(231,231,231,1);
    margin-top: 30px;
}

#choose-package .content-choose .ticket.active
{
    border-color: #c92a55;
    border-width: 5px;
    border-style: solid;
}

#choose-package .content-choose .travel.active
{
      box-shadow: 0px 0px 20px 0px #c92a55;
}

////////////////////////////
/* Test merge with design */
////////////////////////////

.img-header {
    position: relative;
    background-color: #ffffff;
}
.img-header img {
    width: 100%;
}
.img-header div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(182,182,182,0) 77%, rgba(237,237,237,0) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(77%, rgba(182,182,182,0)), color-stop(100%, rgba(237,237,237,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(182,182,182,0) 77%, rgba(237,237,237,0) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(182,182,182,0) 77%, rgba(237,237,237,0) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(182,182,182,0) 77%, rgba(237,237,237,0) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(182,182,182,0) 77%, rgba(237,237,237,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ededed', GradientType=1 );
}
.img-header div p:first-child {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.img-header div p {
    font-size: 16px;
    font-weight: bold;
}
.img-header div p:last-child{
    font-size: 14px;
    font-weight: normal;
}

.discover {
    background-color: #ffffff;
    padding: 50px 0px;
}
.discover-all {
    width: 1200px;
    margin: 0 auto;
}
.title-discover {
    display: block;
    margin: 0 auto;
}
.discover-img {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    position: relative;
    text-align: left;
}
.discover-img .tags {
    position: absolute;
    top: 20px;
    left: 15px;
}
.discover-img .tag {
    padding: 3px 10px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    margin-left: 5px;
}
.discover-img .pop {
    background-color: #f1038f;
}
.discover-img .electro {
    background-color: #f16803;
}
.discover-img .house {
    background-color: #0c28fa;
}

.discover-img .like-share {
    position: absolute;
    right: 15px;
    top: 15px;
}
.discover-img .like-share a {
    display: block;
    width: 19px;
    height: 19px;
}
.like {
    background: url("/assets/images/like-gray.png") no-repeat center center;
}
.share {
    margin-top: 10px;
    background: url("/assets/images/share-gray.png") no-repeat center center;
}
.like.change-color {
    background: url("/assets/images/like-pink.png") no-repeat center center;
}
.share.change-color  {
    margin-top: 10px;
    background: url("/assets/images/share-black.png") no-repeat center center;
}

.discover-content {
    display: inline-block;
    text-align: left;
    width: 580px;
    margin-left: 50px;
    margin-top: 50px;
    vertical-align: top;
}
.discover-content h2 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.playlist {
    margin-top: 15px
}
.playlist img {
    margin-left: 15px;
}
.playlist img:first-child {
    margin-left: 0;
}

/*.artists {
    background-color: #f6f6f6;
    padding: 50px  0px;
    width: 1200px;
    margin: 0 auto;
}*/
.one-artist {
    width: 290px;
    height: 435px;
    margin-top: 50px;
    display: inline-block;
    background-color: #f0f0f0;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    position: relative;
}
.one-artist:hover  .img-artist{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}
.one-artist .img-artist {
    background: url("/assets/images/Lorde.jpg") no-repeat center center;
    width: 100%;
    height: 325px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.one-artist .title-one-artist{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #3b3b3b;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
}
.one-artist .origin-one-artist{
    color: #bfbfbf;
    margin: 5px 10px;

}
.one-artist .festival-one-artist{
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #bfbfbf;
    font-weight: bold;
}
.one-artist a {
    position: absolute;
    width: 19px;
    height: 19px;
    right: 10px;
    bottom: 10px;
}
.activity {
    padding: 50px 0;
    width: 1200px;
    margin: 0 auto;
}

.activity .title-activity {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}
.one-activity {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    display: inline-block;
    width: 290px;
    text-align: left;
}
.one-activity .img-one-activity {
    background-color: #060606;
    height: 220px;
}
.one-activity .img-one-activity img {
    margin: 0 auto;
    display: block;
    padding: 40px 0;
}
.one-activity .title-one-activity {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin: 10px;
    color: #3b3b3b;
}
.one-activity .content-one-activity {
    font-size: 14px;
    padding: 0px 10px 10px 10px;
    color: #3b3b3b;
}

.section-accordion {
    background-color: #ffffff;
    padding-top: 30px;
}

.section-accordion .title-info {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.accordion {
    overflow:hidden;
    background:#f0f0f0;
}
.accordion .accordion-title {
    width: 1200px;
    display: block;
    margin: 0 auto;
}
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    background:#ffffff;
    transition:all linear 0.15s;
    font-size:1.200em;
    color:#3b3b3b;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
}
.icon-plus {
    background: url("/assets/images/plus.png")no-repeat center center;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 20px;
}
.active .icon-plus {
    background: url("/assets/images/cross.png")no-repeat center center;
    width: 12px;
    height: 12px;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#f0f0f0;
    text-decoration:none;
    color:#3b3b3b;
}
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}
.accordion-section-content {
    padding:15px;
    display:none;
    width: 1200px;
    margin: 0 auto;
}
.accordion-section-content ul {
    margin: 0;
    padding: 0;
}
.accordion-section-content ul li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 5px;
}


.icon-disabled,
.icon-parking,
.icon-toilet,
.icon-camping,
.icon-restaurant,
.icon-bar {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    vertical-align: bottom;
}
.icon-disabled {
    background: url("/assets/images/icon-disabled.png") no-repeat center center;
}
.icon-parking {
    background: url("/assets/images/icon-parking.png") no-repeat center center;
}
.icon-toilet {
    background: url("/assets/images/icon-toilet.png") no-repeat center center;
}
.icon-camping {
    background: url("/assets/images/icon-camping.png") no-repeat center center;
}
.icon-restaurant {
    background: url("/assets/images/icon-restaurant.png") no-repeat center center;
}
.icon-bar {
    background: url("/assets/images/icon-bar.png") no-repeat center center;
}

/////////////////////////////
/* !Test merge with design */
/////////////////////////////
