@header-background: #000000;
@import url(http://fonts.googleapis.com/css?family=Oswald);
@font-oswald: 'Oswald', sans-serif;
@color-dark-grey: rgba(255, 255, 255, 0.1);
@color-grey: rgba(255, 255, 255, 0.3);
@color-light-grey: rgba(255, 255, 255, 0.6);
@width: 1900;
@height: 979;
@facebook: #3b5998;
@google: #D3262B;

.button
{
    display: inline;
    font: 20px @font-oswald;
    text-transform: uppercase;
    border: solid 2px;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

/*search festival animation*/
.search-item {
  -webkit-transition: 400ms;
}
.search-item.ng-enter {
    width: 0;
    height: 0;
    opacity: 0;
}
.search-item.ng-leave {
    width: 24%;
    height: 250px;
    opacity: 1;
}
.search-item.ng-enter.ng-enter-active {
    width: 24%;
    height: 250px;
    opacity: 1;
}
.search-item.ng-leave.ng-leave-active {
    width: 0;
    height: 0;
    opacity: 0;
}
/*!search festival animation*/

.color-dark-grey
{
    color: @color-dark-grey;
}

.color-grey
{
    color: @color-grey;
}

.color-light-grey
{
    color: @color-light-grey;
}

.color-white
{
    color: white;
}

.mixin-tag()
{
    background-color: green;
    border: 0;
    padding: 3px 10px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    margin: 0 5px;
}

a
{
    width: auto;
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}

body
{
    font: @font-oswald;
    background-color: #F8F8F8;
}

header
{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: fade(@header-background, 70%);
    font-family: @font-oswald;
    text-transform: uppercase;
    font-size: 18px;
}

content
{
    width: 100%;
}

#sidebar
{
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    background-color: #EEEEEE;
    padding-top: 175px;
}

.sidebar.item
{
    margin: 0 5%;
    margin-bottom: 25px;
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
}

.sidebar.item .header
{
    width: 100%;
    padding: 5px 0;
    height: 47px;
    border-bottom: 1px solid #E6E6E6;
}

.sidebar.item .icon
{
    float: left;
    width: 20px;
    height: 23px;
    margin: 13px 0 13px 16px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sidebar.item .svg
{
    float: left;
    display: block;
    width: 20px;
    height: 23px;
    margin: 13px 0px 13px 16px;
}

.sidebar.item .title
{
    float: left;
    width: 75%;
    font: 25px @font-oswald;
    text-align: center;
    padding: 5px 0;
    color: #C92A55;
}

.sidebar.item .status
{
    cursor: pointer;
    float: left;
    width: 20px;
    height: 23px;
    margin: 13px 16px 13px 0;
}

.sidebar.item .content
{
    padding: 15px;
}

.sidebar.item .content .tag
{
    cursor: pointer;
    margin: 3px;
    padding: 5px 10px;
    background-color: @header-background;
    display: inline-block;
    color: #ffffff;
    font: 12px @font-oswald;
}

.sidebar.item .content .tag.active
{
    background-color: #C92A55;
}

.tag input
{
    display: none;
}

#flag
{
    text-align: center;
    display: block;
    padding-top: 20px;
    width: 110px;
    height: 140px;
    background: #ffffff;
    margin: 0 5%;
    float: left;
}

#flag:after
{
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-width: 10px 55px 35px 55px;
    border-style: solid;
    border-color: #ffffff #ffffff transparent #ffffff;
}

#menu
{
    float: left;
    padding-left: 15px;
    height: 100%;
}

#menu .link
{
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #F8F8F8;
    display: block;
    height: 100%;
}

#menu .link span
{
    display: block;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
}

#menu .link span:hover
{
    background-color: #262626;
    color: #C92A55;
    box-sizing: border-box;
    border-bottom: 3px solid #C92A55;
}


#menu .link span.active
{
    background-color: #262626;
    color: #C92A55;
    box-sizing: border-box;
    border-bottom: 3px solid #C92A55;
}

#connect
{
    color: #080808;
    display: block;
    height: 100%;
    text-decoration: none;
    float: right;
    background: #F8F8F8;
    margin-right: 10%;
}

#connect span
{
    display: block;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
}

.modal-close
{
    float: right;
    background: white;
    border: 0;
    margin: 0;
    padding: 0;
}
.modal-close img
{
   width: 20px;
}
.modal-header
{
    border: 0;
}

.modal-body
{
    padding: 30px;
}
.modal-content
{
    border-radius: 0px;
    text-align: center;
}

#connect-content-modal,
#register-content-modal
{
    width: 50%;
    float: left;
}

.modal-title
{
    display: inline-block;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-transform: uppercase;
    font: 24px @font-oswald;
    color: #3F3F3F;
    font-weight: bold;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0px;
}

.modal-subtitle
{
    display: inline-block;
    text-transform: uppercase;
    font: 16px @font-oswald;
    color: #5F5F5F;
    font-weight: bold;
}

.modal-subtitle-small
{
    display: inline-block;
    text-transform: uppercase;
    font: 14px @font-oswald;
    color: #5F5F5F;
    font-weight: bold;
    margin: 5%;
}

.modal-text
{
    text-transform: uppercase;
    font: 11px @font-oswald;
    color: #5F5F5F;
    font-weight: bold;
    float: left;
}

.modal-text-right
{
    text-transform: uppercase;
    font: 14px @font-oswald;
    color: #5F5F5F;
    font-weight: bold;
    float: right;
}

.modal-text-italic
{
    text-transform: uppercase;
    font: 10px @font-oswald;
    color: #ababab;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    float: left;
}

.modal-button
{
    display: inline-block;
    text-transform: uppercase;
    font: 16px @font-oswald;
    background-color: #000000;
    border-radius: 0;
    border: 0;
    color: #FFFFFF;
    padding: 5px 15px;
    cursor: pointer;
    margin: 5%;
}

.social-button
{
    margin: 2.5%;
    border: 2px solid;
    height: 40px;
    width: 45%;
    float: left;
}
.social-button#facebook
{
    border-color: @facebook;
}
.social-button#google
{
    border-color: @google;
}

.social-button img
{
    width: 36px;
    float: left;
    padding: 5px;
    background-color: #FFFFFF;
}

.social-button p
{
    color: #fff;
    text-transform: uppercase;
    font: 12px Oswald,sans-serif;
    line-height: 38px;
}
.social-button#facebook p
{
    background-color: @facebook;
}
.social-button#google p
{
    background-color: @google;
}

#register
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    font: 16px @font-oswald;
    text-transform: uppercase;
    overflow: visible;
    color: #5F5F5F;
}

#register h2
{
    display: inline-block;
    color: #3F3F3F;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0px;
    margin: 3%;
    width: auto;
}
#register-content
{
    transform: skewY(5deg);
    width: 70%;
    margin: auto;
}
#register-content h3
{
    font-size: 20px;
    margin: 1% 0 3%;
    font-weight: bold;

}
#register-form
{
    text-align: left;
}
#register-left,
#register-right
{
    width: 40%;
    float: left;
    margin: 0 5%;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: solid 2px #000000;
    border-radius: 1px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label
{
    font-weight: bold;
}
#register_gender > div
{
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 0 0;
}
#submit-center
{
    text-align: center;
}

form input[type='submit']
{
    display: inline-block;
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0;
    padding: 5px 15px;
    cursor: pointer;
    margin: 5%;
}


.form-group
{
    text-align: left;
    text-transform: uppercase;
    font: 16px @font-oswald;
    color: #5F5F5F;font-weight: bold;
}

/* SLIDE THREE */

.slideThree input[type=checkbox]
{
    visibility: hidden;
}

.slideThree
{
    width: 40px;
    height: 20px;
    background: #999999;
    float: right;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    margin-right: 10px;
    margin-top: 1px;
}

.slideThree:after
{
    position: absolute;
    right: 10px;
    z-index: 0;
}

.slideThree:before
{
    position: absolute;
    left: 10px;
    z-index: 0;
}

.slideThree label
{
    display: block;
    width: 20px;
    height: 20px;
    top: 0;

    border: 1px solid #999999;

    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background: #fcfff4;
}

.slideThree input[type=checkbox]:checked + label {
    left: 20px;
}

.modal-footer
{
    border: 0;
}


header #search-bar
{
    background: url(/assets/images/search-dark.png) no-repeat 325px 10px #262626;
    float: left;
    border: 0 none;
    font: 14px @font-oswald;
    color: #777;
    width: 350px;
    padding: 6px 30px 6px 10px;
    border-radius: 2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-left: 15px;
}

#search
{
    background: url("/assets/images/search-background.jpg") no-repeat;
    background-size: 100%;
}

#search-content
{
    padding: 25%;
    width: 100%;
    text-align: center;
}

#search-bar
{
    display: block;
    background: url(/assets/images/glass.png) no-repeat 10px fade(#F8F8F8, 70%);
    background-size: 40px;
    border: 0 none;
    font: 40px @font-oswald bold;
    color: #282828;
    padding: 10px 1% 10px 10%;
    margin: 5% 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
}

#search-content .button
{
    display: inline;
    font: 20px @font-oswald;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

#how
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    height: 600px;
}

#how h2
{
    display: inline-block;
    font: 24px @font-oswald;
    color: #3F3F3F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0px;
    margin: 3%;
    width: auto;
}
#how #how-content
{
    transform: skewY(5deg);
    width: 70%;
    margin: auto;
}

#how #how-content .step
{
    width: 30%;
    margin: 1.6%;
    float: left;
    font: 16px @font-oswald;
}

#how #how-content .step h3
{
    text-transform: uppercase;
}

#how #how-content .step p
{
    font-size: 14px;
    color: #3F3F3F;
}

#artists
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    height: 600px;
    margin-top: -2%;
}

#countdown
{
    height: 640px;
    background: url(/assets/images/DSC9588.jpg);
    background-size: 100%;
    margin-top: -10%;
    padding-top: 10%;
}

#countdown .elem
{
    width: 70%;
    margin: auto;
}

#countdown .title
{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

#countdown .title span
{
    display: block;
    font-size: 20px;
    color: grey;
}

#countdown .place
{
    color: rgba(0,0,0,.7);
}

#countdown .place svg
{
    height: 20px;
    width: 20px;
    fill: white;
}

#countdown .types
{
    margin-top: 30px;
}

#countdown .types button
{
    .mixin-tag;
}

#countdown timer
{
    width: 100%;
    display: block;
    margin-top: 40px;
}

#countdown timer .clock
{
    width: 37%;
    margin: 0px 37%;
}

#countdown timer span.time
{
    font-size: 80px;
    float: left;
    padding: 20px 5px 0 5px;
    font-weight: bold;
}

timer span.time p
{
    font-size: 20px;
    border: solid 1px white;
    text-align: center;
    width: calc(~"100% - 2px");
    font-weight: normal;
}

#pictures
{
    width: 100%;
    height: (@width /4);
}

#pictures div
{
    width: (@width /8);
    height: (@width /8);
    background-color:green;
    float: left;
    overflow: hidden;
}

#pictures div img
{
    width: 100%;
    height: 100%;
}

#pictures div img:hover
{
    width: 116%;
    height: 116%;
    margin-top: -8%;
    margin-left: -8%;
}

#main
{
    float: left;
    background-color: #F7F7F7;
    margin-top: 67px;
    margin-left: 342px;
    padding-top: 25px;
    padding-left: 15px;
    width: (@width - 350px);
    height: (@height - 92px);
}

#main .block
{
    width: 24%;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
    height: 250px;
    color: #ffffff;
    font: 12px @font-oswald;
    position: relative;
    overflow: hidden;
}

#main .block img
{
    height: 100%;
    width: 100%;
}

#main .block .festival
{
    width: 100%;
    position: absolute;
    bottom: 15;
    height: 25%;
}

#main .block .festival .name
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px
}

#main .block .festival .info
{
    height: 80%;
    background: rgba(40, 40, 40, 0.5);
    padding-left: 1%;
}

#main .block .festival .info .left-info
{
    float: left;
}

#main .block .festival .info .price span
{
    font-size: 9px;
    font-weight: normal;
}

#main .block .festival .info .price
{
    float: right;
    background: #C92A55;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    width: 15%;
    text-align: right;
    line-height: 100%;
    padding-right: 5px;
}

#festivals
{
    background: url("/assets/images/festival.jpg");
    background-size: 100%;
    margin-top: -10%;
    padding-top: 10%;
    text-align: center;
    padding-bottom: 10%;
}

#festivals h2
{
    display: inline-block;
    font: 24px @font-oswald;
    color: #F3F3F3;
    font-weight: bold;
    text-transform: uppercase;
    transform: skewY(-5deg);
    border-style: solid;
    border-color: #F3F3F3;
    border-width: 4px 0px;
    margin: 0 3% 3%;
    width: auto;
}
#festivals #festival-content
{
    width: 70%;
    margin: auto;
}

#festivals #festival-content #festival-group .block
{
    width: 30%;
    margin: 1% 1.6%;
    float: left;
    height: 250px;
    color: #ffffff;
    font: 12px @font-oswald;
    position: relative;
    overflow: hidden;
}

#festivals #festival-content #festival-group .block img
{
    width: 100%;
}

#festivals #festival-content #festival-group .block .festival
{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30%;
    background: #F8F8F8;
    color: #8F8F8F;
}

#festivals #festival-content #festival-group .block .festival .info
{
    padding-left: 1%;
}

#festivals #festival-content #festival-group .block .festival .info .left-info
{
    float: left;
    text-align: left;
    width: 70%
}

#festivals #festival-content #festival-group .block .festival .info .left-info img
{
    height: 10px;
    width: auto;
    margin-right: 1%;
}

#festivals #festival-content #festival-group .block .festival .info .left-info .name
{
    font-size: 20px;
    font-weight: bold;
    margin: 1%;
}

#festivals #festival-content #festival-group .block .festival .info .price
{
    float: right;
    background: #F0F0F0;
    font-size: 20px;
    font-weight: bold;
    width: 20%;
    line-height: 100%;
    margin: 2.5%;
    padding: 2.5%;
    box-shadow: 0px 0px 2px #888888;
}

#festivals #festival-content #festival-group .block .festival .info .price span
{
    font-size: 9px;
    font-weight: normal;
}

#festival-content .button
{
    display: block;
    font: 20px @font-oswald;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    clear: both;
}

#artists
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    font: 24px @font-oswald;
    height: auto;
    padding-bottom: 3%;
}
#artists h2
{
    display: inline-block;
    color: #3F3F3F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0px;
    margin: 3% 3% 2% 3%;
    width: auto;
}
#artists-content
{
    transform: skewY(5deg);
    width: 70%;
    margin: auto;
}
#artists-content .artist
{
    height: auto;
    overflow: hidden;
    text-align: left;
    margin: 50px 0;
}
#artists-content .artist img
{
    width: 25%;
    height: 31%;
    float: left;
}
.artist-info
{
    width: 73%;
    float: right;
}
.artist-info h3
{
    margin-bottom: 1%;
    margin-top: 0;
    font-size: 16px;
}
.artist-info p
{
    font-size: 14px;
    text-align: justify;
}
.artist-info .info-right
{
    float: right;
    display: inline-block;
}
.artist-info .info-right span
{
    font-weight: bold;
}
.artist-info .button
{
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
    color: #080808;
    border: solid 2px #080808;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    float: right;
    text-shadow: 2px 2px 3px #AAAAAA;
}

#festival-basic
{
    padding: 12%;
    width: 100%;
    text-align: center;
    background-color: #9f9f9f;
}
.festival-block
{
    background: #FFFFFF;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    overflow: hidden;
}
.festival-block h2
{
    display: inline-block;
    font: 24px @font-oswald;
    color: #3F3F3F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0px;
    margin: 3%;
    width: auto;
    transform: skewY(-5deg);
    transform-origin: top left;
}
.festival-description
{
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
}
.festival-description img
{
    width: 25%;
    float: left;
}
#description-text
{
    width: 73%;
    float: right;
}
#description-text p
{
    text-align: left;
}

.festival-block .festival
{
    transform: skewY(5deg);
}

.festival-block .artists
{
    background-color: #F6F6F6;
    transform: skewY(5deg);
    padding-bottom: 10%;
    margin-bottom: -5%;
}

.artists-block
{
    width: 70%;
    margin: auto;   
}
.festival-artists .block
{
    height: 400px;
    width: 24%;
    margin: 1% 0.5%;
    float: left;
    color: #ffffff;
    font: 12px @font-oswald;
    text-align: left;
    border-radius: 3px;
    border: solid #DFDFDF 1px;
    position: relative;
    overflow: hidden;
}
.festival-artists .block img
{
    height: auto;
    width: 100%;
}
.festival-artists .block .artist
{
    padding-top: 3%;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 20%;
    background: #F8F8F8;
    color: #8F8F8F;
}
.festival-artists .block .artist .info
{
    padding-left: 1%;
    font-size: 20px;
    font-weight: bold;
}
.festival-artists .block .artist .info .number-festivals
{
    color: #DFDFDF;
    font-size: 18px;
    margin: 1%;
}

.artists-block .button
{
    display: block;
    font: 20px @font-oswald;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #0A0A0A;
    text-decoration: none;
    padding: 1%;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    margin: 20px 0;
    clear: both;
}

footer
{
    background-color: #212121;
    width: 100%;
    padding: 50px 0;
    height: 484px;
}

footer .contener
{
    width: 70%;
    margin: 0 auto;
    background-color: green;
}

footer .contener .block
{
    background-color: #1C1C1C;
    padding: 20px 0;
}

footer .contener .column
{
    float: left;
    margin: 0 (@width*0.7*0.1/6);
    width: 30%;
}

footer .contener .block.first
{
    margin-bottom: 20px;
}

footer .block.second div
{
    margin: 0 10%;
}

footer .block h3
{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding-bottom: 25px;
}

footer .block .img-plus
{
    width: 10px;
    height: 10px;
}

footer .block .footer-link
{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
}

footer .block.column div
{
    margin-left: 20%;
    margin-top: 52px;
}

#search-bar-footer
{
    display: block;
    border: 0;
    font: 14px @font-oswald;
    color: white;
    background-color: #151515;
    width: 80%;
    margin: 0px 10% 20px 10%;
    padding: 5px 10px;
    border-radius: 2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

footer .tag
{
    .mixin-tag;
    margin: 5px;
}

.clear
{
    clear: both;
}
