@header-background: #000000;
@import url(http://fonts.googleapis.com/css?family=Oswald);
@font-oswald: 'Oswald', sans-serif;

body
{
    font: @font-oswald;
}
header
{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background: fade(@header-background, 70%);
    font-family: @font-oswald;
    text-transform: uppercase;
    font-size: 18px;
}

#sidebar
{
    z-index: 5;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    background-color: #EEEEEE;
    padding-top: 175px;
}

.sidebar.item
{
    margin: 0 5%;
    margin-bottom: 25px;
    width: 90%;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
}

.sidebar.item .header
{
    width: 100%;
    padding: 5px 0;
    height: 47px;
    border-bottom: 1px solid #E6E6E6;
}

.sidebar.item .icon
{
    float: left;
    width: 20px;
    height: 23px;
    margin: 13px 0 13px 16px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.sidebar.item .svg
{
    float: left;
    display: block;
    width: 20px;
    height: 23px;
    margin: 13px 0px 13px 16px;
}

.sidebar.item .title
{
    float: left;
    width: 75%;
    font: 25px @font-oswald;
    text-align: center;
    padding: 5px 0;
    color: #C92A55;
}

.sidebar.item .status
{
    cursor: pointer;
    float: left;
    width: 20px;
    height: 23px;
    margin: 13px 16px 13px 0;
}

.sidebar.item .content
{
    padding: 15px;
}

.sidebar.item .content .tag
{
    cursor: pointer;
    margin: 3px;
    padding: 5px 10px;
    background-color: @header-background;
    display: inline-block;
    color: #ffffff;
    font: 12px @font-oswald;
}

.sidebar.item .content .tag.active
{
    background-color: #C92A55;
}

.tag input
{
    display: none;
}

#flag
{
    text-align: center;
    display: block;
    padding-top: 30px;
    width: 110px;
    height: 110px;
    background: #ffffff;
    margin: 0 5%;
    float: left;
}

#flag:after
{
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-width: 10px 55px 35px 55px;
    border-style: solid;
    border-color: #ffffff #ffffff transparent #ffffff;
}

#menu
{
    float: left;
    padding-left: 15px;
    height: 100%;
}

#menu .link
{
    float: left;
    font-size: 18px;
    text-decoration: none;
    color: #F8F8F8;
    display: block;
    height: 100%;
}

#menu .link span
{
    display: block;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
}

#menu .link span:hover
{
    background-color: #262626;
    color: #C92A55;
    box-sizing: border-box;
    border-bottom: 3px solid #C92A55;
}


#menu .link span.active
{
    background-color: #262626;
    color: #C92A55;
    box-sizing: border-box;
    border-bottom: 3px solid #C92A55;
}

#connect
{
    color: #080808;
    display: block;
    height: 100%;
    text-decoration: none;
    float: right;
    background: #F8F8F8;
    margin-right: 10%;
}

#connect span
{
    display: block;
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
}

header #search-bar
{
    background: url(/assets/images/search-dark.png) no-repeat 325px 10px #262626;
    float: left;
    border: 0 none;
    font: 14px @font-oswald;
    color: #777;
    width: 350px;
    padding: 6px 30px 6px 10px;
    border-radius: 2px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-left: 15px;
}

#search
{
    background: url("/assets/images/search-background.jpg") no-repeat;
    background-size: 100%;
}
#search-content
{
    padding: 25%;
    width: 50%;
    text-align: center;
}
#search-bar
{
    display: block;
    background: url(/assets/images/glass.png) no-repeat 10px fade(#F8F8F8, 70%);
    background-size: 40px;
    border: 0 none;
    font: 40px @font-oswald bold;
    color: #282828;
    padding: 10px 1% 10px 10%;
    margin: 5% 0;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;

}
#search-content .button
{
    display: inline;
    font: 20px @font-oswald;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    text-decoration: none;
    padding: 1%; 
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
}

#how
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    height: 600px;
}
#how h1
{
    display: inline-block;
    font: 24px @font-oswald;
    color: #3F3F3F;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-style: solid;
    border-color: #3F3F3F;
    border-width: 4px 0px;
    margin: 3%;
}
#how #how-content
{
    transform: skewY(5deg);
    width: 70%;
    margin: auto;
}
#how #how-content .step
{
    width: 30%;
    margin: 1.6%;
    float: left;
    font: 16px @font-oswald;
}
#how #how-content .step h2
{
    text-transform: uppercase;
}
#how #how-content .step p
{
    font-size: 14px;
    color: #3F3F3F;
}

#festivals
{
    background: url("/assets/images/festival.jpg");
    background-size: 100%;
    margin-top: -10%;
    text-align: center;
    padding-bottom: 5%;
}
#festivals h1
{
    display: inline-block;
    font: 24px @font-oswald;
    color: #F3F3F3;
    font-weight: bold;
    text-transform: uppercase;
    transform: skewY(-5deg);
    border-style: solid;
    border-color: #F3F3F3;
    border-width: 4px 0px;
    margin: 3%;
    margin-top: 9%;
}
#festivals #festival-content
{
    width: 70%;
    margin: auto;
}
#festivals #festival-content #festival-group .block
{
    width: 30%;
    margin: 1% 1.6%;
    float: left;
    height: 250px;
    color: #ffffff;
    font: 12px @font-oswald;
    position: relative;
    overflow: hidden;
}
#festivals #festival-content #festival-group .block img
{
    height: 100%;
    width: 100%;
}
#festivals #festival-content #festival-group .block .festival
{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30%;
    background: #F8F8F8;
    color: #8F8F8F;
}
#festivals #festival-content #festival-group .block .festival .info
{
    padding-left: 1%;
}

#festivals #festival-content #festival-group .block .festival .info .left-info
{
    float: left;
    text-align: left;
    width: 70%
}
#festivals #festival-content #festival-group .block .festival .info .left-info img
{
    height: 10px;
    width: auto;
    margin-right: 1%;
}
#festivals #festival-content #festival-group .block .festival .info .left-info .name
{
    font-size: 20px;
    font-weight: bold;
    margin: 1%; 
}
#festivals #festival-content #festival-group .block .festival .info .price
{
    float: right;
    background: #F0F0F0;
    font-size: 20px;
    font-weight: bold;
    width: 20%;
    line-height: 100%;
    margin: 2.5%;
    padding: 2.5%;
    box-shadow: 0px 0px 2px #888888;
}
#festivals #festival-content #festival-group .block .festival .info .price span
{
    font-size: 9px;
    font-weight: normal;
}
#festival-content .button
{
    display: block;
    font: 20px @font-oswald;
    text-transform: uppercase;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
    text-decoration: none;
    padding: 1%; 
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    width: 100%;
    clear: both;
}

#artists
{
    background: #F8F8F8;
    transform: skewY(-5deg);
    transform-origin: top left;
    text-align: center;
    margin-top: 5%; 
    height: 600px;
}

.clear
{
    clear: both;
}

