/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/bin/
/build/
/composer.phar
/composer.lock
/node_modules
/vendor/
/web/bundles/
/web/assets/js/bower_components/*
/web/assets/dist/*