<a class="search-item" ng-href="{[{ '/festival/' + festival.id }]}" ng-repeat="festival in searchFestivalsCtrl.festivals | filter:searchText | filter:searchFestivalsCtrl.typeFilter">
    <div class="block" style="width: 30%; margin: 1% 1.6%; float: left; height: 250px; color: #fff; font: 12px Oswald,sans-serif; position: relative; overflow: hidden;">
        <div class="tag-bar">
            <span class="tag" ng-repeat="type in festival.type" style="background-color: {[{type.color}]}">{[{type.name}]}</span>
        </div>
        <img ng-src="{[{ festival.img }]}" style="height: 100%; width: 100%;" alt="image festival">
        <div class="festival" style="width: 100%; position: absolute; bottom: 0; height: 30%; background: #F8F8F8; color: #8F8F8F;">
            <div class="info" style=" padding-left: 1%;">
                <div class="left-info" style="float: left; text-align: left; width: 70%;">
                    <div class="name" style="font-size: 20px; font-weight: 700; margin: 1%">{[{ festival.name }]}</div>
                    <div class="date"><img src="/assets/images/temps.png" alt="time icon" style="height: 10px; width: auto; margin-right: 1%;">{[{ festival.start_date | date : "dd" }]} - {[{ festival.end_date | date : "dd MMMM yyyy" }]}</div>
                    <div class="location"><img src="/assets/images/lieu.png" alt="location icon" style="height: 10px; width: auto; margin-right: 1%;">{[{ festival.city+", "+festival.country }]}</div>
                </div>
                <div class="price" style="float: right; background: #F0F0F0; font-size: 20px; font-weight: 700; width: 20%; line-height: 100%; margin: 2.5%; padding: 2.5%; box-shadow: 0 0 2px #888;"><span style="font-size: 9px; font-weight: 400;">A partir de </span>{[{ festival.price }]}&#128;</div>
            </div>
        </div>
    </div>
</a>
<span class="clear"></span>