<a class="search-item" ng-href="{[{ '/festival/' + festival.id }]}" ng-repeat="festival in searchFestivalsCtrl.festivals | filter:searchText | filter:searchFestivalsCtrl.typeFilter">
    <div class="block" style="width: 30%; margin-right: 3.3%; margin-bottom: 10px; margin-top 10px; float: left; height: 250px; color: #ffffff; font: 12px @font-oswald; position: relative; overflow: hidden;">
        <div class="tag-bar">
            <span class="tag" ng-repeat="type in festival.type" style="background-color: {[{type.color}]}">{[{type.name}]}</span>
        </div>
        <img ng-src="{[{ festival.img }]}" style="height: 100%; width: 100%;" alt="image festival">
        <div class="festival" style="width: 100%; position: absolute; bottom: 15; height: 25%;">
            <div class="name" style="font-size: 20px; font-weight: bold; margin-left: 5px">{[{ festival.name }]}</div>
            <div class="info" style="height: 80%; background: rgba(40, 40, 40, 0.5); padding-left: 1%;">
                <div class="left-info" style="float: left;">
                    <div class="date">{[{ festival.start_date | date : "dd" }]} - {[{ festival.end_date | date : "dd MMMM yyyy" }]}</div>
                    <div class="location">{[{ festival.city+", "+festival.country }]}</div>
                </div>
                <div class="price" style="float: right; background: #C92A55; font-size: 20px; font-weight: bold; height: 100%; width: 15%; text-align: right; line-height: 100%; padding-right: 5px;"><span style="font-size: 9px; font-weight: normal;">A partir de </span>{[{ festival.price }]}&#128;</div>
            </div>
        </div>
    </div>
</a>
<span class="clear"></span>