<!DOCTYPE html>
<html>
    <head>
        <title>Inscription - Festitime</title>
        <script type="text/javascript" src="./assets/js/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="./assets/js/modules/festival.module.js"></script>
    </head>
    <body>
        <form action="users/new" method="POST">
            <div>
                Créer vous un compte :
                <br>
                Pseudo : <input type="text" name="user[pseudo]">
                <br>
                Mot de passe : <input type="password" name="user[password]">
                <br>
                <input type="submit" name="submit" value="Envoyer">
            </div>
        </form>
    </body>
</html>
