<html>
<head>
    <title>Festitime - home</title>
    <meta charset='utf-8'>
    <link rel="icon" type="image/jpg" href="/assets/images/favicon.jpg" />
    <link rel="stylesheet" href="/assets/dist/css/styles.css">
    <script type="text/javascript" src="/assets/js/bower_components/angular/angular.js"></script>
</head>
<body>
    <nav class="nav">
        <img class="logo" height="90" width="90" src="/assets/images/logo.png">
    </nav>
</body>
</html>r