<html>
<head>
	<title>Accueil - Festitime</title>
	<script src="/assets/js/bower_components/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="/assets/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
	<header>
		<div id="banner-box">
			<div id="flag">
				<img id="logo" width="110px" src="/assets/images/logo.png"/>
			</div>
		</div>
		<div id="menu">
			<a href="#" class="link">
				<span class="active">Les Festivals</span>
			</a>
			<a href="#" class="link">
				<span>Besoin d'aide ?</span>
			</a>
			<form id="search" method="get" action="/search" >
				<input id="search-bar" type="text" size="40" placeholder="Recherchez un festival, un artiste,etc." />
			</form>
			<span class="clear"></span>
		</div>
		<a href="#" id="connect">
			<span>Se connecter</span>
		</a>
		<span class="clear"></span>
	</header>
	<div id="sidebar">
		<div class="sidebar item">
			<div class="header">
				<div class="icon agenda"></div>
				<div class="title">
					Trier par dates
				</div>
				<img class="status open" width="20px" height="23px" alt="arrow" src="/assets/images/arrow-up.svg"/>
			</div>
			<div class="content">
				bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla
				bla bla bla bla bla bla bla bla bla
			</div>
		</div>
		<div class="sidebar item">
			<div class="header">
				<div class="icon music"></div>
				<div class="title">
					Trier par genres
				</div>
				<img width="20px" height="23px" class="status open" alt="arrow" src="/assets/images/arrow-up.svg"/>
			</div>
			<div class="content">
				<span class="active">Tout voir</span>
				<span>&#201;lectro</span>
				<span>Rock</span>
				<span>Pop</span>
				<span>Hip Hop / Rap</span>
				<span>Reggae / Ragga</span>
				<span>Jazz</span>
				<span>Dark / Metal</span>
				<span>Punk</span>
			</div>
		</div>
		<div class="sidebar item">
			<div class="header">
				<div class="icon location"></div>
				<div class="title">
					Trier par r&#233;gions
				</div>
				<img width="20px" height="23px" class="status open" alt="arrow" src="/assets/images/arrow-up.svg"/>
			</div>
			<div class="content">
				<span class="active">Tous les pays</span>
				<span>France</span>
				<span>Espagne</span>
				<span>Angleterre</span>
				<span>Allemagne</span>
				<span>Belgique</span>
			</div>
		</div>
	</div>
	<div id="main">
		<div class="block">
			<div class="festival">
			<div class="name">Les Vieilles Charrues</div>
				<div class="info">
					<div class="left-info">
						<div class="date">16 - 19 juillet 2015</div>
						<div class="location">Carhaix-Plouguer, France</div>
					</div>
					<div class="price"><span>A partir de </span>34&#128;</div>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="festival">			
				<div class="name">Les Vieilles Charrues</div>	
				<div class="info">
					<div class="left-info">
						<div class="date">16 - 19 juillet 2015</div>
						<div class="location">Carhaix-Plouguer, France</div>
					</div>
					<div class="price"><span>A partir de </span>34&#128;</div>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="festival">			
				<div class="name">Les Vieilles Charrues</div>	
				<div class="info">
					<div class="left-info">
						<div class="date">16 - 19 juillet 2015</div>
						<div class="location">Carhaix-Plouguer, France</div>
					</div>
					<div class="price"><span>A partir de </span>34&#128;</div>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="festival">			
				<div class="name">Les Vieilles Charrues</div>	
				<div class="info">
					<div class="left-info">
						<div class="date">16 - 19 juillet 2015</div>
						<div class="location">Carhaix-Plouguer, France</div>
					</div>
					<div class="price"><span>A partir de </span>34&#128;</div>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="festival">			
				<div class="name">Les Vieilles Charrues</div>	
				<div class="info">
					<div class="left-info">
						<div class="date">16 - 19 juillet 2015</div>
						<div class="location">Carhaix-Plouguer, France</div>
					</div>
					<div class="price"><span>A partir de </span>34&#128;</div>
				</div>
			</div>
		</div>
		<span class="clear"></span>
	</div>
	<script type="text/javascript">
		$('.sidebar.item .header .status').click(function(e){
			if($(this).hasClass('close')){
				$(this).closest('.sidebar.item').children('.content').slideDown(200);				
				$(this).attr("src", "/assets/images/arrow-up.svg");
				$(this).removeClass("close");
				$(this).addClass("open");
			}
			else if($(this).hasClass('open')){
				$(this).closest('.sidebar.item').children('.content').slideUp(200);
				$(this).attr("src", "/assets/images/arrow-bottom.svg");
				$(this).removeClass("open");
				$(this).addClass("close");
			}
		});
	</script>
</body>
</html>