<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}Festitime{% endblock %}</title>
        <link href="/assets/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <script type="text/javascript" src="/assets/js/bower_components/angular/angular.min.js"></script>
</head>
<body>
	<div>
		{% set flashErrors = app.session.flashbag.get("error") %}
        {% if (flashErrors is not empty) %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for flashError in flashErrors %}
            {{ flashError.message }}
            {% endfor %}
        </div>
        {% endif %}

        {% set flashSuccess = app.session.flashbag.get("success") %}
        {% if (flashSuccess is not empty) %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for sucesss in flashSuccess %}
            {{ sucesss.message }}
            {% endfor %}
        </div>
        {% endif %}
	</div>

    {% block body %}
    {% endblock %}
    
    <script type="text/javascript" src="/assets/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>