<!DOCTYPE html>
<html>
<head>
        <title>{% block title %}Festitime{% endblock %}</title>
        <script type="text/javascript" src="./assets/js/bower_components/angular/angular.min.js"></script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>